@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Martian+Mono:wght@300&family=Montserrat:ital,wght@1,200&family=Poppins:wght@300&display=swap');
*{
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Martian Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    background-color: rgb(74, 75, 77);
    margin: 5px 50px 5px 50px  ;
    width: auto;
    text-align: center;
}

.about1,.about2{
    margin: 5px 80px 50px 80px  ;
    border: 2px solid black;
    padding: 10px;
}
section h2{
    text-transform: uppercase;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
